body {
    font-family: Georgia, serif;
    text-align: center;
    background-color: #8FBC8F;
}

h1 {
    color: #333;
}
h2 {
    font-family: Georgia, serif;
    text-align: center;
    font-size: 14px;
    background-color: #8FBC8F;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5F9EA0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5F9EA0;
}

p {
    font-size: 18px;
    color: #555;
}